{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">

        {# COLONNE GAUCHE #}
        <div class="col-xs-6">
            {{ form_start(form) }}{{ form_end(form) }}
            <div id="colonneG" class="row displayNone">
                <div id="objects" class="objects">
                    {% for tag in tags %}
                        <div id="tag_{{ tag }}" class="col-xs-2 tag" onclick='copierColler("{{ tag }}")'>{{ tag }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {# COLONNE DROITE #}
        <div id="colonneD" class="col-xs-6 displayNone">

            {# ONGLET #}

            <ul class="nav nav-tabs">
                {% for onglet in onglets %}
                    <li class="active"><a data-toggle="tab" href="#home">{{ onglet|capitalize }}</a></li>
                {% endfor %}
                <li><a data-toggle="modal" href="#plus" data-target="#plus">+</a></li>

                <!-- Modal -->
                <div id="plus" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Choisissez votre pièce à inventorier</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row available-rooms-container">
                                    {% for room in rooms %}
                                        <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 available-room" data-room-type-id="Room{{ room.id }}" data-room-can-delete="true">
                                            <div class="row">
                                                <div class="col-xs-4"></div>
                                                <div class="col-xs-8">
                                                    <form id="form{{ room.id }}"method="post" action="">
                                                        <input type="text" class="displayNone" name="room" value="{{ room.name }}"/>
                                                        <span class="addRoom" onclick='addRoom("form{{ room.id }}")'>{{ room.name|capitalize }}</span>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>

            {# CONTENT #}
            <div class="tab-content right">
                <div id="inventory" class="inventory">
                    <div id="home" class="tab-content fade"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {# BOUTON RECAP #}
        <button type="button" class="btn btn-info btn-lg pull-right buttonModal" data-toggle="modal" data-target="#myModal">Récapitulatif</button>

        {# MODAL RECAP #}
        <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Récapitulatif de mon inventaire</h4>
                </div>
                <div class="modal-body">
                    <p>Mon inventaire est vide pour le moment</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    {# RESET #}
    <div class="row">
        <form id="reset" method="post" action="">
            <input type="submit" class="" name="reset" value="Reset"/>
        </form>
    </div>

{% endblock %}

{% block stylesheets %}{% endblock %}