{% extends 'base.html.twig' %}

{% block body %}

    <div class="container accroche">
        <div class="row ">
            <h1>INVENTAIRE DE MON DÉMÉNAGEMENT</h1>
        </div>
        <div class="row ">
            <p>Définissez la liste des objets que vous souhaitez déménager.</p>
        </div>
        <div class="row selector">
            {{ form_start(formSelect) }}{{ form_end(formSelect) }}
        </div>


    </div>
    {# RECAP #}
    <div id="recapitulatif" class="row displayNone">

        {# BOUTON #}
        <button type="button" class="btn pull-right buttonModal" data-toggle="modal" data-target="#myModal">Récapitulatif</button>

        {# MODAL #}
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Récapitulatif de mon inventaire</h4>
                    </div>
                    <div class="modal-body">
                        <p id="textRecap">Mon inventaire est vide pour le moment</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# COLONNE G & D #}
    <div class="row columns">

        {# COLONNE GAUCHE #}
        <div id="colonneG" class="col-xs-6 colonneGauche">

            {# CATEGORIES #}
            <div id="listCategories" class="row displayNone">
                <h2>Catégories</h2>
                <div id="categories">
                    {% for category in categories %}
                        <button type="button" class="btn" data-id="{{ category.id }}">
                            {{ category.name }}
                        </button>
                    {% endfor %}
                </div>
            </div>

            {# OBJECTS #}
            <div id="listObject" class="row displayNone">
                <h2>Objets</h2>
                <div id="objects" class="row objLabel">
                    {% for object in objects %}
                        <div id="object_{{ object.id }}" class="col-xs-2 object btn btn-primary" onclick='copierColler("object_{{ object.id }}", "{{ object.name|capitalize }}")'>{{ object.name }}</div>
                    {% endfor %}
                </div>
            </div>

        </div>

        {# COLONNE DROITE #}
        <div id="colonneD" class="col-xs-6 displayNone">

            {# ONGLET #}
            <ul class="nav nav-tabs">

                {# ROOMS #}
                {% for onglet in onglets %}
                    <li class="active"><a data-toggle="tab" href="#home">{{ onglet|capitalize }}</a></li>
                {% endfor %}

                {# + #}
                <li><a data-toggle="modal" class="addRoomPlus" href="#plus" data-target="#plus">+</a></li>

                {# ONGLET MODAL #}
                <div id="plus" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        {# ONGLET MODAL CONTENT #}
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Choisissez votre pièce à inventorier</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row available-rooms-container">
                                        {{ form_start(formCheckbox) }}
                                        {{ form_widget(formCheckbox) }}
                                        <input type="submit"/>
                                        {{ form_end(formCheckbox) }}

                                    {#{% for room in rooms %}#}
                                        {#<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 available-room" data-room-type-id="Room{{ room.id }}" data-room-can-delete="true">#}
                                            {#<div class="row">#}
                                                {#<div class="col-xs-4"></div>#}
                                                {#<div class="col-xs-8">#}
                                                    {#<a href="{{ path('homepage', {#}
                                                        {#'room':room.name,#}
                                                    {#}) }}">{{ room.name|capitalize }}</a>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#{% endfor %}#}
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>

            {# CONTENT #}
            <div class="tab-content right">
                <div id="inventory" class="inventory">
                    {% for userTag in userTags %}
                        <div id="{{ userTag.id }}" class="col-xs-2 tag2">
                            {{ userTag.name }}
                            <div id="div2_{{ userTag.id }}">
                                <input id="' + objet + 'Number" type="number" class="number" value="1">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {# RESET #}
    <div class="row">
        <form id="reset" method="post" action="">
            <input type="submit" class="" name="reset" value="Reset"/>
        </form>
    </div>

{% endblock %}

{% block stylesheets %}{% endblock %}